:root {
  --header-height: 46px;
  --button-color: #8bd12a;
  --text-color: #fff;
  --primary-color: #000;
  --primary-color-hover05: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.wrapper__header-2 {
  background-color: rgba(51, 62, 72, 0.7);
  height: 100%;
  width: 100%;
}

.grid {
  width: 1200px;
  height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.grid__col-2 {
  width: calc((100% / 12) * 2);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.grid__col-25 {
  width: calc((100% / 5));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.grid__col-10 {
  width: calc((100% / 12) * 10);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mgl1rem {
  margin-left: 1rem;
}

.mgl2rem {
  margin-left: 2rem;
}

.mgl5rem {
  margin-left: 5rem;
}

.mgr {
  margin-right: 2rem;
}

.mgr5rem {
  margin-right: 5rem;
}

.mr-1rem {
  margin-right: -1rem;
}

.mgb0 {
  margin-bottom: 0 !important;
}

.pdr1rem {
  padding-right: 1rem;
}

.plr185rem {
  padding: 0.8rem 1.85rem !important;
}

.mw {
  max-width: 60%;
}

.hover:hover {
  opacity: 0.7;
  cursor: pointer;
}

.hover-2:hover .intro,
.hover-2:hover .opacity {
  opacity: 0.7;
}

.cursor {
  cursor: pointer !important;
}

.user-select-none {
  user-select: none;
  cursor: default;
}

.fz16px {
  font-size: 1.6rem;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color-hover05);
  width: 100%;
  height: 100%;
  animation: Zoom linear 0.2s;
}

.btn {
  outline: none;
  border: none;
  padding: 1.7rem 2.7rem;
  width: 100%;
  text-transform: uppercase;
  background-color: var(--button-color);
  color: var(--text-color);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 0.7rem;
  transition: all 0.15s linear;
}
.btn:hover {
  opacity: 0.8;
}

.hr-col {
  width: 2px;
  height: 25px;
  background-color: var(--text-color);
  display: flex;
  margin: auto 1rem;
}

.color {
  background-color: var(--primary-color) !important;
}

.color--2 {
  background-color: rgba(111, 119, 126, 0.7);
}

.orange {
  color: var(--button-color);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Zoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ZoomOut {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInToast {
  0% {
    opacity: 0;
    transform: translate(110%, 2.5%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeOutToast {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translate(110%, 2.5%);
  }
}
