@media only screen and (min-width: 64em) and (max-width: 1200px) {
  .grid {
    width: 950px;
  }
  .nav-bar__link-item {
    text-align: center;
  }
  .rmr1rem {
    margin-right: 1rem;
  }

  .home-page__btn {
    padding: 0 1rem !important;
  }

  .grid__col-25 {
    width: calc((100% / 4));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .policy__item {
    text-align: center;
  }

  .category__item-link,
  .category__heading {
    font-size: 1.3rem !important;
  }
}

@media only screen and (max-width: 63.9375em) {
  .rdn {
    display: none !important;
  }

  .nav-mobile__icon {
    margin-right: 1rem;
  }

  .nav-bar__icon {
    display: block;
    background-color: var(--text-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 8px;
    right: 33px;
    z-index: 11000;
    box-shadow: 0.05rem 0.05rem 0.45rem var(--primary-color);
  }

  #nav-bar__icon--checkbox {
    display: none;
  }

  .over-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: var(--primary-color-hover05);
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;
  }

  .nav-bar__mobile {
    background-color: var(--text-color);
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    max-width: 100%;
    position: fixed;
    z-index: 98;
    box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.15s;
  }

  .three-line-icon {
    width: 1.5rem;
    height: 1.5px;
    background: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13000;
    transition: all 0.15s;
  }

  .three-line-icon::before {
    top: -0.5rem;
  }
  .three-line-icon::after {
    margin-top: 0.5rem;
  }

  .three-line-icon::before,
  .three-line-icon::after {
    content: "";
    width: 1.5rem;
    height: 1.5px;
    background: var(--primary-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.15s;
  }

  #nav-bar__icon--checkbox:checked ~ .three-line-icon {
    background: transparent;
  }

  #nav-bar__icon--checkbox:checked ~ .three-line-icon::before,
  #nav-bar__icon--checkbox:checked ~ .three-line-icon::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1.5rem;
    height: 1.5px;
  }

  #nav-bar__icon--checkbox:checked ~ .three-line-icon::before {
    transform: rotate(135deg);
    top: 0 !important;
  }

  #nav-bar__icon--checkbox:checked ~ .three-line-icon::after {
    transform: rotate(-135deg);
  }

  #nav-bar__icon--checkbox:checked ~ .over-play {
    opacity: 1;
    visibility: visible;
    z-index: -1;
  }

  #nav-bar__icon--checkbox:checked ~ .nav-bar__mobile {
    transform: translateX(0);
    opacity: 1;
  }

  #nav-bar__icon--checkbox:checked ~ .three-line-icon::before {
    top: -0.6rem;
  }

  #nav-bar__icon--checkbox:checked ~ .three-line-icon::after {
    margin-top: 0.6rem;
  }

  #nav-bar__icon--checkbox:checked ~ .three-line-icon {
    margin-right: -1rem;
  }

  .mobile__header {
    height: 46px;
    display: flex;
    border-bottom: 1px solid var(--background-color-hover-07);
  }

  .mobile__avatar-img {
    padding: 5px;
    border-radius: 50%;
    margin-left: 0 1rem;
  }

  .mobile__account {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .avatar__user-name-mobile {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3px;
  }

  .status {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  }

  .dot {
    width: 1rem;
    height: 1rem;
    background: #00ff009e;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 1rem;
  }

  .nav-mobile {
    font-size: 1.5rem;
  }

  .nav-bar__item-mobile {
    line-height: 46px;
    font-size: 1.6rem;
    padding-left: 2rem;
    transition: all 0.15s;
  }

  .nav-bar__item-mobile:hover {
    background-color: var(--background-color-hover-07);
    color: var(--button-color);
  }

  .footer__address {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .grid {
    width: 700px;
  }

  #header__search {
    width: 70% !important;
  }

  .option__icon--2 {
    right: 22rem !important;
    width: 5rem !important;
    margin-right: 1rem !important;
  }

  .header__cart {
    right: 18rem !important;
  }

  .header__search--selection {
    right: 27rem !important;
  }

  .grid__col-25 {
    width: calc((100% / 3));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .sale-off {
    top: -82.5%;
  }

  html {
    overflow-x: hidden;
  }

  .header-input__history {
    width: calc(100% - 30%);
  }

  .footer__information {
    display: block;
    text-align: center;
  }

  .copy-right {
    margin-bottom: 3rem;
  }

  .footer__information-nation {
    display: flex;
    justify-content: center;
  }

  .footer__col {
    height: 15px;
  }

  .policy__item {
    text-align: center !important;
  }

  .policy__col {
    height: 40px;
  }
}

@media only screen and (max-width: 46.1875em) {
  .nav-bar__mobile {
    width: 100%;
  }

  .policy__item {
    line-height: 2.3rem;
  }

  .policy__list {
    flex-direction: column;
  }

  .policy__list a {
    margin-bottom: 1rem;
    text-align: center;
  }

  .policy__col {
    display: none;
  }
  .footer__otp img {
    margin: 0 1rem !important;
  }

  .grid__col-25 {
    width: calc((100% / 1));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .rmfcc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__link-qr,
  .footer__download-col-2 {
    max-width: 30%;
    width: 30%;
  }

  .footer__download {
    flex-direction: row;
    justify-content: center;
  }

  .footer__information {
    display: block;
    text-align: center;
  }

  .copy-right {
    margin-bottom: 3rem;
  }

  .footer__information-nation {
    display: block;
  }

  .footer__information-nation a > li {
    margin-top: 1rem;
  }

  .pagination__item {
    font-size: 1.4rem !important;
    padding: 1rem 1.3rem !important;
    margin: 0 !important;
  }

  .pagination__link.mr5rem {
    margin-right: 0 !important;
  }

  .pagination__link.mgl5rem {
    margin-left: 0 !important;
  }

  .pip {
    padding: 0 !important;
  }

  .grid__col-2 {
    display: none;
  }

  .grid__row {
    display: flex;
    justify-content: center;
  }

  .dnnbl {
    display: none !important;
  }

  .wrapper__header-2 {
    height: 16.5rem;
  }

  .nav-bar__icon {
  }

  .header__logo {
    position: absolute !important;
    bottom: -45px !important;
  }

  .home-page__header,
  .header-search__input {
    display: none !important;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .header__cart {
    top: 90% !important;
  }
}
