#modal {
  z-index: 500;
}

.header {
  font-size: 1.6rem;
  max-height: var(--header-height);
  width: 100%;
  background-color: var(--primary-color);
  z-index: 500;
}

.header .header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
  max-height: var(--header-height);
  background-color: var(--primary-color);
}

.header .header__nav-bar .nav-bar__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__nav-bar .nav-bar__list-items .nav-bar__item {
  line-height: var(--header-height);
}

.header .header__nav-bar .nav-bar__list-items .nav-bar__item .nav-bar__link-item {
  color: var(--text-color);
}

.header .header__nav-bar .nav-bar__list-items .nav-bar__item .fa-facebook,
.header .header__nav-bar .nav-bar__list-items .nav-bar__item .fa-instagram {
  font-size: 2.5rem;
  line-height: var(--header-height);
  margin-left: 1.5rem;
}

.header .toast-message {
  background-color: var(--text-color);
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 6.5rem;
  right: 1.5rem;
  font-size: 1.3rem;
  -webkit-transform: translate(110%, 2.5%);
          transform: translate(110%, 2.5%);
  z-index: 100;
}

.header .toast-message .toast-message__body {
  padding: 0rem 2rem 2rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .toast-message .toast-message__body .toast-message__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.header .toast-message--success {
  border-left: 1rem solid var(--button-color);
}

.header .toast-message--success .fa-check-circle--success {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--button-color);
}

.header .toast-message--success .toast-message__close {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .toast-message--logout {
  border-left: 1rem solid red;
}

.header .toast-message--logout .fa-check-circle--logout {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
}

.header .toast-message--logout .toast-message__close {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logined {
  display: none;
  position: relative;
  margin-left: -4rem;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  z-index: 101;
}

.header .logined #avatar-img {
  width: 14%;
  border-radius: 50%;
  right: 221px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: -4.6rem;
  border: 2px solid var(--button-color);
}

.header .logined .avatar__user-name {
  margin-left: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header .logined .user__list {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: var(--text-color);
  border-radius: 0.5rem;
  width: 100%;
  min-height: 100%;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
  right: 0;
  top: 120%;
  font-size: 1.4rem;
}

.header .logined .user__list .user__item {
  width: 100%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  line-height: calc(var(--header-height) - 0.5rem);
}

.header .logined .user__list .user__item:hover {
  background-color: var(--background-color-hover-07);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .logined .user__list .user__item:first-child {
  margin-top: 3rem;
}

.header .logined .user__list .user__item:last-child:hover {
  background-color: var(--background-color-hover-07);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.header .logined .user__list .user__item-link {
  padding: 1rem 2rem;
}

.header .logined .user__list::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--text-color);
  top: -1.2rem;
  right: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
          box-shadow: 0 0 1rem var(--primary-color);
  border-radius: 0.3rem;
  z-index: -1;
}

.header .logined .user__list::after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--text-color);
  top: -1.2rem;
  right: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0.2rem;
  z-index: 1;
}

.header .logined:hover .user__list {
  display: block;
}

.header .logined::after {
  content: "";
  display: block;
  width: 100%;
  height: 2rem;
  position: relative;
  top: -1.1rem;
  background-color: transparent;
  cursor: default;
}

.header .header-search {
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header .header-search .header__logo {
  width: 120px;
  height: 120px;
  position: relative;
}

.header .header-search .wrapper__header-input {
  position: relative;
  width: 100%;
}

.header .header-search .wrapper__header-input #header__search:focus ~ .header-input__history {
  display: block;
}

.header .header-search .wrapper__header-input #header__search:focus ~ .header-input__history:focus {
  display: block;
}

.header .header-search .wrapper__header-input .header-input__history {
  display: none;
  width: calc(100% - 33%);
  min-height: 100%;
  background-color: var(--text-color);
  position: absolute;
  top: 120%;
  padding: 2rem 0;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  border-radius: 0.3rem;
  z-index: 99;
}

.header .header-search .wrapper__header-input .header-input__history .history__heading {
  padding-bottom: 0.5rem;
  color: var(----background-color-heading-search);
  border-bottom: 1px solid var(--background-color-hover-07);
  font-size: 1.2rem;
  font-weight: 900;
  margin: -1rem 0 0 0;
  text-align: center;
}

.header .header-search .wrapper__header-input .header-input__history .history__item {
  display: none;
  padding: 1.25rem 3rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.header .header-search .wrapper__header-input .header-input__history .history__item:hover {
  background-color: var(--background-color-hover-07);
}

.header .header-search .wrapper__header-input .header-input__history .history__item:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.header .header-search .header-search__input {
  max-width: 100%;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header .header-search .header-search__input #header__search {
  outline: none;
  padding: 1.5rem 21rem 1.5rem 1rem;
  border: none;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
  width: 100%;
  height: var(--header-height);
  border-radius: 1rem;
}

.header .header-search .header-search__input #header__search::after {
  padding-right: 2rem;
}

.header .header-search .header-search__input .header__search--selection {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 5rem;
  margin-right: 1rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.header .header-search .header-search__input .header__search--selection .option__icon {
  padding-right: 1rem;
  color: var(--background-color-heading-search);
}

.header .header-search .header-search__input .header__search--selection .selection__list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 116.9%;
  width: 100%;
  background-color: var(--text-color);
  margin: 0 1rem 0 2rem;
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
          box-shadow: 0 0 1rem var(--primary-color);
  border-radius: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.header .header-search .header-search__input .header__search--selection .selection__list .selection__item {
  line-height: var(--header-height);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.5rem;
  transition: all 0.15s;
}

.header .header-search .header-search__input .header__search--selection .selection__list .selection__item:hover {
  background-color: var(--background-color-hover-07);
}

.header .header-search .header-search__input .header__search--selection .selection__list .selection__item:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.header .header-search .header-search__input .header__search--selection .selection__list .selection__icon {
  display: none;
  position: inherit;
  color: var(--button-color);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  margin: auto auto auto 1rem;
  font-size: 1.4rem;
}

.header .header-search .header-search__input .header__search--selection .selection__list::before {
  content: "";
  display: block;
  width: 100%;
  height: 11px;
  position: relative;
  top: -1.1rem;
  background-color: transparent;
}

.header .header-search .header-search__input .header__search--selection:hover .selection__list {
  opacity: 1;
  visibility: visible;
}

.header .header-search .header-search__input .option__icon--2 {
  position: absolute;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--primary-color);
  display: inline-block;
  right: 1rem;
  margin: 0;
  width: 5rem;
}

.header .header-search .header__cart {
  max-width: 100%;
  max-height: 50%;
  position: relative;
  cursor: default;
  top: 50%;
}

.header .header-search .header__cart .cart__icon {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--button-color);
  font-size: 3.5rem;
  padding: 1.5rem;
  z-index: 98;
}

.header .header-search .header__cart .cart__icon::after {
  content: "";
  position: absolute;
  width: 258%;
  height: 2rem;
  background-color: transparent;
  right: -1.33rem;
  bottom: -1rem;
  cursor: default;
}

.header .header-search .header__cart .header__cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  position: absolute;
  background-color: var(--text-color);
  top: 51%;
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
          box-shadow: 0 0 1rem var(--primary-color);
  border-radius: 0.4rem;
  right: 0.2rem;
}

.header .header-search .header__cart .header__cart-list--no-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 10rem;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  z-index: 502;
}

.header .header-search .header__cart .header__cart-list .no-cart__img {
  width: 100%;
  margin-bottom: 1.218rem;
}

.header .header-search .header__cart .header__cart-list .no-cart__text {
  color: #6f777e;
  cursor: text;
  display: block;
}

.header .header-search .header__cart .cart__quantity {
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 0.2rem 0.8rem;
  border-radius: 50%;
  border: 2px solid var(--button-color);
  font-size: 1.3rem;
  position: absolute;
  top: -53%;
  right: 45%;
  z-index: 98;
}

.header .header-search .header__cart .has-cart {
  width: 400px;
  min-height: 100%;
  position: absolute;
  background-color: var(--text-color);
  top: 51%;
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
          box-shadow: 0 0 1rem var(--primary-color);
  border-radius: 0.4rem;
  right: 0.2rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  z-index: 502;
  opacity: 0;
  visibility: hidden;
}

.header .header-search .header__cart .has-cart__main {
  max-height: 30vh;
  overflow-y: scroll;
}

.header .header-search .header__cart .has-cart__item {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.header .header-search .header__cart .has-cart__body {
  border-bottom: 1px solid var(--background-color-hover-07);
}

.header .header-search .header__cart .has-cart__heading {
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  color: var(----background-color-heading-search);
  border-bottom: 1px solid var(--background-color-hover-07);
  font-size: 1.2rem;
  font-weight: 900;
  margin: -1rem 0 0 0;
  text-align: center;
  cursor: text;
}

.header .header-search .header__cart .has-cart__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
}

.header .header-search .header__cart .has-cart__body:hover {
  background-color: var(--background-color-hover-07);
}

.header .header-search .header__cart .has-cart__body .has-cart__img {
  width: 20%;
  height: 100%;
  padding: 1rem;
}

.header .header-search .header__cart .has-cart__body .has-cart__text {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: text;
  padding: 1rem;
  margin-right: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.8);
}

.header .header-search .header__cart .has-cart__body .cost-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: space-between;
  min-height: 100%;
  padding: 1rem;
}

.header .header-search .header__cart .has-cart__body .cost-delete .has-cart__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: text;
  color: rgba(0, 0, 0, 0.8);
}

.header .header-search .header__cart .has-cart__body .cost-delete .has-cart__cost .cost {
  color: var(--button-color);
}

.header .header-search .header__cart .has-cart__body .cost-delete .has-cart__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.header .header-search .header__cart .has-cart__body .cost-delete .has-cart__delete:hover {
  color: var(--button-color);
}

.header .header-search .header__cart .has-cart__checkout {
  padding: 3rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  border-top: 1px solid #e5e5e5;
  cursor: default;
}

.header .header-search .header__cart .has-cart__checkout .total,
.header .header-search .header__cart .has-cart__checkout .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: text;
}

.header .header-search .header__cart .has-cart__checkout .total {
  margin-bottom: 1rem;
}

.header .header-search .header__cart .btn__checkout {
  font-size: 1.4rem;
  padding: 1.2rem 1.1rem;
  width: 35%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
  margin-left: auto;
}

.header .header-search #has-cart__checkbox:checked ~ .has-cart {
  opacity: 1;
  visibility: visible;
}

.header__qr-code {
  display: none;
  position: absolute;
  top: var(--header-height);
  max-width: 100%;
  max-height: 100%;
  background-color: var(--text-color);
  -webkit-box-shadow: 0.6rem 0.3rem 1rem var(--primary-color);
          box-shadow: 0.6rem 0.3rem 1rem var(--primary-color);
  border-radius: 0.4rem;
  -webkit-animation: fadeIn 0.4s forwards;
          animation: fadeIn 0.4s forwards;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  z-index: 2001200120012001200120012001200120012001200120012001;
}

.header__qr-code .qr-code__github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18rem;
  height: 100%;
}

.header__qr-code .download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__qr-code .download-link .google-play {
  width: 10rem;
  margin-top: 3rem;
}

.header__qr-code .download-link .app-store {
  position: relative;
  width: 10rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.notification {
  display: none;
  position: absolute;
  border: 1px solid var(--primary-color-hover05);
  width: 380px;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
  overflow: hidden;
  -webkit-animation: ZoomOut 0.15s forwards;
          animation: ZoomOut 0.15s forwards;
  -webkit-transform-origin: 0 top;
          transform-origin: 0 top;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  background-color: var(--text-color);
  will-change: opacity, transform;
  z-index: 999;
}

.notification .notification__header,
.notification .notification__footer {
  background-color: var(--text-color);
  color: var(--primary-color-hover05);
}

.notification .notification__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 600;
  text-align: left;
  font-size: 2rem;
  cursor: text;
  color: var(--primary-color);
  margin-left: 1rem;
}

.notification .notification__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 500;
}

.notification__main {
  background-color: rgba(111, 119, 126, 0.4);
  max-height: 60vh;
  overflow-y: scroll;
}

.notification__main .notification__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  padding: 0.5rem 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.notification__main .notification__link .notification__link--img {
  width: 28%;
  padding: 1rem;
}

.notification__main .notification__link .notification__link--info {
  margin-right: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.notification__main .notification__link .notification__link--info .info__name,
.notification__main .notification__link .notification__link--info .info__description {
  margin: 0;
  line-height: 1.3;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.notification__main .notification__link .notification__link--info .info__name {
  text-transform: capitalize;
  font-size: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: rgba(0, 0, 0, 0.8);
}

.notification__main .notification__link .notification__link--info .info__description {
  font-size: 1.4rem;
  margin-top: 0.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: rgba(0, 0, 0, 0.6);
}

.notification__main .notification__link:first-child {
  padding-top: 0.8rem;
}

.notification__main .notification__link:last-child {
  padding-bottom: 2.1rem;
}

.notification__main .notification__link:hover {
  background-color: rgba(111, 119, 126, 0.4);
}

.notification__main .notification__link:hover .notification__link--info .info__name,
.notification__main .notification__link:hover .notification__link--info .info__description {
  color: var(--primary-color);
}

.nav-bar__item--hover-display:hover .header__qr-code,
.hover-2:hover .notification {
  display: block;
}

.hover-text-p {
  margin: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.nav-bar__item--hover-display:hover .hover-text .hover-text-p {
  opacity: 0.7;
}

.nav-bar__item--hover-display:hover .header__qr-code {
  opacity: 1;
}

.form-login,
.form-sign-up {
  padding: 3.5rem 3rem 0;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 0.9rem var(--primary-color);
  position: fixed;
  width: 450px;
  max-width: 100%;
  max-height: 100%;
  font-size: 1.6rem;
  top: 15%;
  right: 0;
  left: 0;
  margin: auto;
  display: none;
  background-color: var(--text-color);
  border-radius: 1rem;
  -webkit-animation: ZoomOut 0.15s;
          animation: ZoomOut 0.15s;
  will-change: opacity, transform;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.close {
  font-size: 3rem;
  position: absolute;
  top: -1.3rem;
  right: -1.3rem;
  background-color: var(--text-color);
  border-radius: 50%;
  color: var(--primary-color);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.close:hover,
.close:active {
  color: var(--primary-color-hover05);
}

.footer__facebook--color {
  background-color: #0a7cea;
}

.footer__github--color {
  background-color: var(--primary-color);
}

.footer__google--color {
  background-color: #575857;
}

.google-png {
  width: 2rem;
  margin-right: 0.5rem;
}

.google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border-rectangle {
  max-width: 100%;
  height: 100%;
  padding: 0.8rem 2.3rem;
  color: var(--text-color);
  border-radius: 0.5rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.border-rectangle:hover {
  opacity: 0.7;
}

.form-login .form-login__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-login .form-login__heading .login,
.form-login .form-login__heading .sign-up {
  font-weight: 600;
}

.form-login .form-login__heading .login {
  font-size: 3rem;
  margin-top: -1rem;
  color: var(--button-color);
}

.form-login .form-login__heading .sign-up {
  font-size: 1.8rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.form-login .form-login__heading .sign-up:hover {
  opacity: 0.7;
}

.form-login .input-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
}

.form-login .input-info .login-input {
  padding: 1.5rem 0 1.5rem 2rem;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  font-size: 1.8rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.form-login .input-info .login-input::-webkit-input-placeholder {
  color: var(----background-color-heading-search);
}

.form-login .input-info .login-input:-ms-input-placeholder {
  color: var(----background-color-heading-search);
}

.form-login .input-info .login-input::-ms-input-placeholder {
  color: var(----background-color-heading-search);
}

.form-login .input-info .login-input::placeholder {
  color: var(----background-color-heading-search);
}

.form-login .input-info .login-input:focus {
  border: 1px solid var(--button-color);
}

.form-login .input-info .login-input + .login-input {
  margin-top: 1.8rem;
}

.form-login .input-info .login-input::before,
.form-login .input-info .login-input:focus {
  outline: none;
}

.form-login .input-help {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-login .input-help .input-help___link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.form-login .input-help .change-password {
  color: var(--button-color);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.form-login .input-help .change-password:hover,
.form-login .input-help .change-help:hover {
  opacity: 0.7;
}

.form-login .or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-login .or .middle {
  margin: 0 1.6rem;
}

.form-login .or .left,
.form-login .or .right {
  height: 1px;
  width: 100%;
  background-color: var(--button-color);
}

.form-login .form-login__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2.5rem;
}

.form-sign-up .form-sign-up__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-sign-up .form-sign-up__heading .login,
.form-sign-up .form-sign-up__heading .sign-up {
  font-weight: 600;
}

.form-sign-up .form-sign-up__heading .sign-up {
  font-size: 3rem;
  margin-top: -1rem;
  color: var(--button-color);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.form-sign-up .form-sign-up__heading .login {
  font-size: 1.8rem;
}

.form-sign-up .form-sign-up__heading .login:hover {
  opacity: 0.7;
}

.form-sign-up .input-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
}

.form-sign-up .input-info .sign-up-input {
  padding: 1.5rem 0 1.5rem 2rem;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  font-size: 1.8rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.form-sign-up .input-info .sign-up-input::-webkit-input-placeholder {
  color: var(----background-color-heading-search);
}

.form-sign-up .input-info .sign-up-input:-ms-input-placeholder {
  color: var(----background-color-heading-search);
}

.form-sign-up .input-info .sign-up-input::-ms-input-placeholder {
  color: var(----background-color-heading-search);
}

.form-sign-up .input-info .sign-up-input::placeholder {
  color: var(----background-color-heading-search);
}

.form-sign-up .input-info .sign-up-input:focus {
  border: 1px solid var(--button-color);
}

.form-sign-up .input-info .sign-up-input + .sign-up-input {
  margin-top: 1.8rem;
}

.form-sign-up .input-info .sign-up-input::before,
.form-sign-up .input-info .sign-up-input:focus {
  outline: none;
}

.form-sign-up .policy {
  margin-top: 2.5rem;
  text-align: center;
  line-height: 1.4;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.form-sign-up .policy .policy__text:hover {
  opacity: 0.7;
}

.form-sign-up .form-sign-up__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2.5rem;
}

.container {
  font-size: 1.6rem;
  position: relative;
  top: 12rem;
  padding: 3.2rem 0;
  background-color: var(--background-container);
  z-index: 96;
  margin-bottom: 4rem;
  border-bottom: 0.5rem solid var(--button-color);
}

.container .category {
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.container .category__icon {
  font-size: 2.2rem;
  margin-right: 0.5rem;
}

.container .category .category__heading {
  font-size: 1.7rem;
  padding: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
}

.container .category .category__heading-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: calc(var(--header-height) - 0.5rem);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  position: relative;
  overflow-x: hidden;
}

.container .category__item-link {
  font-size: 1.4rem;
  color: var(--primary-color);
  position: relative;
  left: 2rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.container .category__item:hover {
  background-color: var(--background-color-hover-07);
}

.container .category__item:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.container .category__item .fa-caret-right {
  color: var(--button-color);
  display: none;
  left: 10.3px;
  position: relative;
  font-size: 2rem;
}

.container .category__item:not(:first-of-type)::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--background-color-hover-07);
  left: 1rem;
  right: 2rem;
  top: 0;
}

.home-page {
  width: 100%;
  max-height: 100%;
}

.home-page__header {
  width: 100%;
  max-height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: calc(var(--header-height) - 0.8rem);
  position: relative;
  font-size: 1.5rem;
}

.home-page__header .home-page__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page__header .home-page__left .home-page__text {
  margin-right: 2rem;
}

.home-page__header .home-page__left .home-page__btn + .home-page__btn {
  margin-left: 1rem;
}

.home-page__header .home-page__left .home-page__btn {
  background-color: var(--background-container);
  padding: 0rem 2rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  position: relative;
  will-change: transform, opacity;
}

.home-page__header .home-page__left .home-page__btn:hover {
  opacity: 0.7;
}

.home-page__header .home-page__left .home-page__cost {
  position: absolute;
  background-color: var(--text-color);
  top: 120%;
  right: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
          box-shadow: 0 0 1rem var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
  opacity: 0;
  visibility: hidden;
  z-index: 3001;
}

.home-page__header .home-page__left .home-page__cost .home-page__cost--fee {
  margin-left: 2rem;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-page__header .home-page__left .home-page__cost .home-page__cost--fee:hover {
  color: var(--button-color);
}

.home-page__header .home-page__left .home-page__cost::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  background-color: transparent;
  left: 0;
  top: -8px;
  cursor: default;
}

.home-page__header .home-page__left .home-page-btn-cost {
  margin-left: 1rem;
  position: relative;
}

.home-page__header .home-page__left .home-page-btn-cost:hover .home-page__cost {
  opacity: 1;
  visibility: visible;
}

.home-page__header .home-page__left #home-page__cost-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
}

.home-page__header .home-page__left #home-page__cost-text #cost-root {
  margin-left: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-page__header .home-page__left #home-page__cost-text .home-page__btn--icon {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page__header .home-page__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page__header .home-page__right .fa-angle-left-and-right {
  margin-left: 2rem;
}

.home-page__header .home-page__right .fa-angle-left-and-right .home-page__left--icon,
.home-page__header .home-page__right .fa-angle-left-and-right .home-page__right--icon {
  padding: 0.6rem 1.2rem;
  background-color: var(--background-container);
  border-radius: 4px;
}

.home-page__header .home-page__right .fa-angle-left-and-right .home-page__left--icon-disable {
  background-color: rgba(230, 230, 230, 0.3);
  margin-right: -2px;
  color: #cccccc;
  cursor: default;
}

.body-page__product {
  margin-top: 1rem;
  background-color: var(--text-color);
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 7px var(--primary-color);
          box-shadow: 1px 1px 7px var(--primary-color);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  position: relative;
}

.body-page__product .product__img {
  padding-top: 73%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.body-page__product .product__content {
  padding: 1rem;
  position: relative;
}

.body-page__product .product__content .product__name {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.9rem;
  height: calc(76px / 2);
  position: relative;
}

.body-page__product .product__content .product__cost {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.body-page__product .product__content .product__cost--real {
  text-decoration: line-through;
  color: #57575d;
}

.body-page__product .product__content .product__cost--sales {
  color: var(--button-color);
  font-size: 1.6rem;
}

.body-page__product .product__content .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.body-page__product .product__content .action #action__heart--full1,
.body-page__product .product__content .action #action__heart--full2,
.body-page__product .product__content .action #action__heart--full3,
.body-page__product .product__content .action #action__heart--full4,
.body-page__product .product__content .action #action__heart--full5,
.body-page__product .product__content .action #action__heart--full6,
.body-page__product .product__content .action #action__heart--full7,
.body-page__product .product__content .action #action__heart--full8,
.body-page__product .product__content .action #action__heart--full9,
.body-page__product .product__content .action #action__heart--full10,
.body-page__product .product__content .action #action__heart--full11,
.body-page__product .product__content .action #action__heart--full12,
.body-page__product .product__content .action #action__heart--full13,
.body-page__product .product__content .action #action__heart--full14,
.body-page__product .product__content .action #action__heart--full15,
.body-page__product .product__content .action #action__heart--full16,
.body-page__product .product__content .action #action__heart--full17,
.body-page__product .product__content .action #action__heart--full18,
.body-page__product .product__content .action #action__heart--full19,
.body-page__product .product__content .action #action__heart--full20,
.body-page__product .product__content .action #action__heart--full21,
.body-page__product .product__content .action #action__heart--full22,
.body-page__product .product__content .action #action__heart--full23,
.body-page__product .product__content .action #action__heart--full24,
.body-page__product .product__content .action #action__heart--full25 {
  display: none;
  color: red;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.body-page__product .product__content .action .heart,
.body-page__product .product__content .action .action__star {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  will-change: transform, opacity;
}

.body-page__product .product__content .action .heart {
  font-size: 1.4rem;
}

.body-page__product .product__content .action .star {
  margin-left: auto;
  margin-top: -1px;
}

.body-page__product .product__content .action .action__star {
  font-size: 1rem;
}

.body-page__product .product__content .action .sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0.5rem;
}

.body-page__product .product__content .origin {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.3rem;
  color: #57575d;
}

.body-page__product .favorite {
  position: absolute;
  bottom: 90%;
  left: -5px;
  font-size: 1.2rem;
  background-color: var(--button-color);
  color: var(--text-color);
  font-weight: 500;
  padding: 0.2rem 0.4rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 45%;
}

.body-page__product .favorite::after {
  content: "";
  position: absolute;
  border-right: 30px solid var(--button-color);
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  border-bottom: 30px solid transparent;
  left: 0;
  bottom: -30px;
  z-index: -1;
}

.body-page__product .sale-off {
  position: absolute;
  right: 0;
  top: 0;
  height: 4rem;
  width: 4rem;
  font-size: 1.3rem;
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  text-align: center;
}

.body-page__product .sale-off .sale-off__percent {
  color: var(--button-color);
  font-weight: 500;
}

.body-page__product .sale-off .sale-off__label {
  color: var(--text-color);
  text-transform: uppercase;
}

.body-page__product .sale-off::after {
  content: "";
  position: absolute;
  border-width: 0 2rem 2rem;
  border-style: solid;
  border-color: var(--primary-color) var(--primary-color) transparent var(--primary-color);
  right: 0;
  top: 3.8rem;
  z-index: 3000;
}

.body-page__product:hover {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.body-page__product:active {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__list .pagination__item {
  margin: 0 0.5rem;
  padding: 1rem 2.3rem;
  font-size: 1.7rem;
  max-width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border-radius: 0.4rem;
}

.pagination__list .pagination__item .pagination__icon {
  font-size: 2.2rem;
}

.pagination__list .pagination--clicked {
  background-color: var(--button-color);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.pagination__list .pagination--clicked:hover {
  opacity: 0.7;
}

.pagination__list .pagination__link--clicked {
  color: var(--text-color);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.footer {
  position: relative;
  padding-top: 11.6rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

.footer__list {
  text-align: left;
}

.footer__list .footer__item {
  font-size: 13px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list .footer__item:hover {
  color: var(--button-color);
}

.footer__heading {
  font-size: 14px;
  margin-bottom: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 17px;
}

.footer__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__download .footer__link-qr {
  border: 0.0625rem solid rgba(0, 0, 0, 0.09);
  max-width: 50%;
}

.footer__download .footer__download-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.footer__download .footer__download-col-2 .footer__link-google-play,
.footer__download .footer__download-col-2 .footer__link-app-store {
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer-hr::after {
  content: "";
  position: absolute;
  border-bottom: 0.0001px solid var(--button-color);
  left: 4rem;
  right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer__information {
  font-size: 13px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 90px;
  margin-bottom: 54.5px;
}

.footer__information-nation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.footer .footer__section {
  position: relative;
  font-size: 13px;
  padding-bottom: 10rem;
  padding-top: 5.4rem;
  background-color: var(--background-container);
}

.footer .footer__section .footer__policy .policy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__section .footer__policy .policy__list .policy__item {
  margin: 0 4rem;
  text-transform: uppercase;
}

.footer .footer__section .footer__otp {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__section .footer__otp img {
  max-width: 130px;
  margin: 0 2rem;
}

.footer .footer__section .footer__address {
  text-align: center;
  line-height: 19px;
}

.nav-bar__icon {
  display: none;
}

#header-input__history {
  width: 100%;
}

.footer__information {
  margin-bottom: 5rem !important;
}

.header__cart--wrap {
  display: block;
}
/*# sourceMappingURL=main.css.map */