// 1024
@media (max-width: 64em) {
  .grid {
    width: 970px;
  }

  .grid__col-25 {
    width: calc((100% / 4));
  }

  .home-page__btn {
    padding: 0rem 1rem !important;
  }

  .grid__col-25--mb + .grid__col-25--mb {
    margin-bottom: 1rem;
  }

  .toast-message {
    top: 4.8vh !important;
  }
}

// 1366
@media (width: 85.375em) {
  .grid {
    width: 1300px;
  }

  .grid__col-25 {
    width: calc((100% / 5));
  }

  .home-page__btn {
    padding: 0rem 1rem !important;
  }

  .toast-message {
    top: 6.5vh !important;
  }
}
